<div class="footer">
	<small>
		<div class="row">
  <div class="span2">Sample © 2014</div>
  <div class="span1"></div>
  <div class="span1"></div>
  <div class="span1"></div>
  <div class="span1"></div>
  <div class="span1"></div>
  <div class="span1"></div>
  <div class="span1"></div>
  <div class="span1"></div>
  <div class="span1"><%= link_to "About us", about_path %></div>
  <div class="span1"><%= link_to "Contact us", new_inquiry_path %></div>
</div>
</div>
	</small>
</div>

